# Trabalhando com Strings

In [1]:
#Criando uma variável do tipo string
frase = "Python para análise de dados"

In [2]:
frase[0]

'P'

In [5]:
frase[0:10]

'Python par'

In [6]:
frase[10:]

'a análise de dados'

In [7]:
frase[:17]

'Python para análi'

In [8]:
frase.count("dados")

1

In [9]:
frase.lower()

'python para análise de dados'

In [10]:
frase = frase.upper()

In [11]:
frase.replace("Python","Frases")

'PYTHON PARA ANÁLISE DE DADOS'

In [12]:
frase

'PYTHON PARA ANÁLISE DE DADOS'

# Estrutura de dados

## Listas

In [18]:
#Criando uma lista chamada animais
animais = ["cachorro", "gato", 12345, 6.5]
animais

['cachorro', 'gato', 12345, 6.5]

In [19]:
#Imprimindo o primeiro e quarto elemento da lista
animais[0]

'cachorro'

In [21]:
#Substituindo o primeiro elemento da lista
animais[0] = "papagaio"

animais

['papagaio', 'gato', 12345, 6.5]

In [22]:
#Removendo gato da lista
animais.remove("gato")

animais

['papagaio', 12345, 6.5]

In [25]:
"gato" in animais

False

In [26]:
#tamanho da lista 
len(animais)

3

In [36]:
#adicionando elemento na lista
animais.append(["leão", "Cachorro"])

animais

['papagaio', 12345, 6.5, ['leão', 'Cachorro']]

In [37]:
#adicionando mais de um elemento 
animais.extend(["cobra", 6])

animais

['papagaio', 12345, 6.5, ['leão', 'Cachorro'], 'cobra', 6]

In [39]:
# quantas vezes aparece um determinado elemento na lista
animais.count("cobra")

1

In [40]:
#Criando outra lista, agora so com numeros
numeros = [500, 30, 300, 80, 10]

In [41]:
max(numeros)

500

In [42]:
min(numeros)

10

In [44]:
# alinhando a lista 
lista.sort()

lista

[10, 30, 80, 300, 500]

## Tuplas

In [45]:
#As tuplas usam parênteses como sintaxe
tp = ("Banana", "Maçã", 10, 50)

tp

('Banana', 'Maçã', 10, 50)

In [46]:
#Retornando o primeiro elemento
tp[0]

'Banana'

In [47]:
#Diferente das listas as tuplas são imutáveis, o que quer dizer que não podemos alterar os seus elementos
tp[0] = "Laranja"

TypeError: 'tuple' object does not support item assignment

In [48]:
tp.count("Maçã")

1

In [49]:
tp[0:2]

('Banana', 'Maçã')

## Dicionários

In [52]:
#Para criar um dicionário utilizamos as {}
dc = {"Maçã":20, "Banana":10, "Laranja":15, "Uva":5} #Dicionários trabalham com o condeito chave e valor

dc

{'Maçã': 20, 'Banana': 10, 'Laranja': 15, 'Uva': 5}

In [53]:
#Acessando o valor de um dicionário através da chave
dc["Maçã"]

20

In [54]:
#Atualizando o valor da Maçã
dc["Maçã"] = 25
dc

{'Maçã': 25, 'Banana': 10, 'Laranja': 15, 'Uva': 5}

In [55]:
#Retornando todas as chaves do dicionário
dc.keys()

dict_keys(['Maçã', 'Banana', 'Laranja', 'Uva'])

In [56]:
#Retornando os valores do dicionário
dc.values()

dict_values([25, 10, 15, 5])

In [57]:
#Verificando se já existe uma chave no dicionário e caso não exista inserir
dc.setdefault("Limão", 22)

22

In [58]:
dc

{'Maçã': 25, 'Banana': 10, 'Laranja': 15, 'Uva': 5, 'Limão': 22}